{% extends 'soundSafariApp/base.html' %}

{% block body_block %}
<div class="container mt-5">
    <h1 class="mb-4">Add an Artist</h1>
    <form id="add_artist_form" method="post" action="{% url 'soundSafariApp:add_artist' %}" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="form-group mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Add Artist</button>
    </form>
</div>
<!--Input Validation-->
<script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    var forms = document.getElementsByClassName('needs-validation');
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock %}
