{% extends 'soundSafariApp/base.html' %}
{% block body_block %}
<h1>Add a New Song</h1>
<div>
    <form id="add_page_form" method="post" action="{% url 'soundSafariApp:add_song' artist_name_slug=artist_name_slug %}">


        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Add Song" />
    </form>
</div>
{% endblock %}