{% extends 'soundSafariApp/base.html' %}

{% block body_block %}
<div class="guide-section">
    
    <h1>Getting Started</h1>
    <p>Before diving into the vast world of music on Sound Safari, we recommend signing up and logging in. This will allow you to review songs, albums, and artists, as well as add new topics to our database.</p>
    
    <h2>Navigating Sound Safari</h2>
    <p>Discovering music on Sound Safari can be done in several exciting ways:</p>
    <ul>
        <li><strong>Genres Page:</strong> Explore music by genres. From rock to classical, our genres page categorizes music to fit your mood or interest.</li>
        <li><strong>Artists Page:</strong> Dive into the world of artists. Here, you can learn about artists, their discographies, and find reviews from other users. You can also contribute by adding new artists that you love.</li>
        <li><strong>Search:</strong> Looking for something specific? Use our search feature to find songs, albums, or artists directly.</li>
    </ul>
    
    <h2>Reviewing and Adding Content</h2>
    <p>Here's how you can contribute:</p>
    <ul>
        <li><strong>Reviewing:</strong> Share your thoughts on songs, albums, and artists by writing reviews. Your reviews help others discover new music and see familiar tunes in a new light.</li>
        <li><strong>Adding Topics:</strong> Can't find your favorite artist, song or album? There are numerous ways to add new content, whether this is adding a new artist on the artists page or adding a new album on the page of an artist.</li>
    </ul>
    
</div>
{% endblock %}
