{% extends 'soundSafariApp/base.html' %}

{% block body_block %}
<style>
    .column {
       float: left;
       width: 33.33%;
       padding: 10px;
       box-sizing: border-box;
       background-color: lightgreen;
    }
    .row::after {
       content: "";
       clear: both;
       display: table;
    }
 </style>
<h1>HOMEPAGE WOOHOOO</h1>
<div class="row">
    <div class="column">
       <h2>Top Rated Artists</h2>
       {% if artists %}
        <ul>
        {% for artist in artists %}
            <li><a href="{{ page.url }}">{{ artist.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are no artists present.</strong>
    {% endif %}
    </div>
    <div class="column">
       <h2>Top Rated Albums</h2>
       {% if albums %}
        <ul>
        {% for album in albums %}
            <li><a href="{{ page.url }}">{{ album.name }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
            <strong>There are no albums present.</strong>
        {% endif %}</div>
    <div class="column">
       <h2>Top Rated Songs</h2>
       {% if songs %}
        <ul>
        {% for song in songs %}
            <li><a href="{{ page.url }}">{{ song.name }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
            <strong>There are no Songs present.</strong>
        {% endif %}</div>
 </div>
{% endblock %}