{% extends 'soundSafariApp/base.html' %}

{% block body_block %}
<div class="container mt-4">
    <div class="row">
        <!-- User Profile Column -->
        <div class="col-md-4">
            <div class="text-center">
                <img src="{{ user.picture.url }}" alt="{{ user.username }}" class="img-fluid rounded-circle">
                <h2>{{ user.username }}</h2>
                <p>Joined: {{ user.date_joined|date:"Y-m-d" }}</p>
            </div>
        </div>

        <!-- Additional User Details Column -->
        <div class="border rounded p-3 mb-4">
            <p>{{ user.userprofile.bio }}</p>
        </div>
        
            
            <!-- Example of showing user-specific content like playlists or favorites -->
            <h3>Reviews</h3>
            <div class="list-group">
                {%if reviews%}
                {% for review in reviews %}
                    <p>{{ review.comment }}</p>
                            
                {% endfor %}
            {%else%}
            <strong>No Reviews yet</strong>
            {%endif%}
            </div>
            <div class="text-center mt-4">
                <a href="{% url 'soundSafariApp:edit_profile' %}" class="btn btn-primary">Edit Profile</a>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
