{% extends 'soundSafariApp/base.html' %}

{% block body_block %}
<body>
<div class="container py-5">
    <div class="row">
        <div class="col-lg-4">
            <!-- Artist Picture -->
            <img src="{{ song.artist.picture.url }}" alt="{{ song.artist.name }}" class="img-thumbnail mb-4">
        </div>
        <div class="col-lg-8">
            <h1 class="mb-3">{{ song.name }}</h1>
            <dl class="row">
                <dt class="col-sm-3">Artist</dt>
                <dd class="col-sm-9">{{ song.artist.name }}</dd>
                
                <dt class="col-sm-3">Genre</dt>
                <dd class="col-sm-9">{{ song.genre.name }}</dd>
                
                <dt class="col-sm-3">Duration</dt>
                <dd class="col-sm-9">{{ song.duration }} Seconds</dd>
                
                <dt class="col-sm-3">Release Date</dt>
                <dd class="col-sm-9">{{ song.release_date }}</dd>
                
                <dt class="col-sm-3">Album</dt>
                <dd class="col-sm-9">
                    {% if song.album %}
                        <a href="{% url 'soundSafariApp:show_album' artist_name_slug=song.artist.slug album_name_slug=song.album.slug %}">{{ song.album.name }}</a>
                    {% else %}
                        Single
                    {% endif %}
                </dd>
            </dl>
        </div>
    </div>
</div>

<div class="mt-4">
    {% if user.is_authenticated %}
        <h3>{{ reviews.count }} Reviews - <a href="#">Add Review</a></h3>
        </h3>
    {% else %}
        <h3>{{ reviews.count }} Reviews</h3>
    {% endif %}
    
    {% for review in reviews %}
    <div class="card mb-3">
        <div class="card-body d-flex">
            <!-- Rating -->
            <div class="me-3">
                <span class="badge bg-success rounded-pill rating-badge-large">{{ review.rating }}</span>
            </div>
            <!-- User Profile Picture -->
            <div class="flex-shrink-0">
                <img src="{{ review.user.userprofile.picture.url }}" alt="{{ review.user.username }}" class="rounded-circle" style="width: 50px; height: 50px;">
            </div>
            <!-- Review Text and User Info -->
            <div class="ms-3">
                <h5 class="card-title">{{ review.user.username }}</h5>
                <p class="card-text">{{ review.comment }}</p>
                <p class="text-muted"><small>{{ review.date_added }}</small></p>
            </div>
        </div>
    </div>
    {% empty %}
        <p class="text-muted">No reviews yet.</p>
    {% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock %}


