.profile-container {
    width: 300px;
    margin: auto;
    text-align: center;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

input[type="file"] {
    margin-top: 10px;
}
